@{
    ViewData["Title"] = "Home Page";
     Layout = "~/Views/Shared/_Layout.cshtml";
}
@model QuanLyQuanAo_MVC_CORE.Models.User
<div class="container">
        <div class="grid wide">
            <div class="row">
                <form action="~/Order/CheckoutOrder" method="post" enctype="multipart/form-data" class="checkout-form-validate">
                    <div class="row">
                        <div class="col p-8 m-12">
                            <h2 class="form-validate-title">Billing details</h2>
                            <div class="row no-gutters">
                                <div class="col p-12 m-12">
                                    <label for="" class="form-validate-name">Username</label>
                                    <input type="text" class="form-validate-input" name="Username" value="@Model.Username">
                                </div>
                                <div class="col p-12 m-12">
                                    <label for="" class="form-validate-name" >Email</label>
                                    <input readonly type="text" class="form-validate-input" name="Email" value="@Model.Email">
                                </div>
                                <div class="col p-12 m-12">
                                    <label for="" class="form-validate-name">Address</label>
                                    <input type="text" class="form-validate-input" name="AddressUser" value="@Model.AddressUser">
                                </div>
                                <div class="col p-12 m-12">
                                    <label for="" class="form-validate-name">Phone</label>
                                    <input type="text" class="form-validate-input"  name="PhoneNumber" value="@Model.PhoneNumber">
                                </div>
                            </div>
                            @{
                                if (ViewBag.Error is List<string> errors){
                                    foreach(var item in errors){
                                        <div >
                                            <span style="color:red;font-size: 17px;">
                                                @item
                                            </span>
                                        </div>

                                    }
                                }
                            }
                        </div>
                        <div class="col p-4 m-12">
                            <div class="checkout-cart-order">
                                <h3 class="checkout-cart-order-name">Your order</h3>
                                <div class="checkout-cart-order-pro-subtotal">
                                    <div class="product">Product</div>
                                    <div class="Subtotal">Subtotal</div>
                                </div>
                                @{
                                    foreach(var item in ViewBag.ListProduct){
                                        <div class="checkout-cart-order-type">
                                            <div class="product_type">
                                                <div class="product_type-name">
                                                    @item.Product.ProductName  X <strong>@item.CartDetail.Quantity</strong>
                                                </div>
                                            </div>
                                            <div class="product_total">
                                                @string.Format("{0:n0}", item.CartDetail.TotalMoney)
                                            </div>
                                        </div>
                                    }
                                }
                                <div class="checkout-cart-order-total">
                                    <p class="total-allTotal-name">Total</p>
                                    <div class="all-money">@string.Format("{0:n0}", ViewBag.CartUser.TotalProducts)</div>
                                </div>
                                <input type="text" value="@ViewBag.CartUser.Id" name="cartId" hidden>
                                <button class="checkout-cart-order-btn" type="submit">PLace order</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>