@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@model List<QuanLyQuanAo_MVC_CORE.Models.Discount>
<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <a href="~/Admin/DiscountManage/AddDiscount" class="btn text-decoration-none btn-primary btn-md font-weight-medium d-inline-flex align-items-center m-2">
                <i class="mdi mdi-folder-plus">
                </i>
                Thêm giảm giá
            </a>
        </div>
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Danh sách giảm giá</h4>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        STT
                                    </th>
                                    <th>
                                        Mã giảm giá
                                    </th>
                                    <th>
                                        Tên giảm giá
                                    </th>
                                    <th>
                                        CODE
                                    </th>
                                    <th>
                                        Loại giảm
                                    </th>
                                    <th>
                                       Tiền - %
                                    </th>
                                    <th>
                                        Hành động
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int counter = 1;
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@counter</td>
                                            <td>
                                                @item.Id
                                            </td>
                                            <td>
                                                @item.NameDiscount
                                            </td>
                                            <td>
                                                @item.CodeName
                                            </td>
                                            <td>
                                                @{
                                                    @if(@item.IsPercent == 0){
                                                        <span>%</span>
                                                    }else{
                                                        <span>
                                                            Tiền VND
                                                        </span>
                                                    }
                                                }
                                                
                                            </td>
                                            <td>
                                                @item.Price
                                            </td>
                                            <td>
                                                <a href="~/Admin/DiscountManage/EditDiscount?Id=@item.Id" class="text-decoration-none btn btn-primary btn-rounded btn-icon d-inline-flex align-items-center justify-content-center">
                                                    <i class="mdi mdi-border-color"></i>
                                                </a>
                                                <a href="~/Admin/DiscountManage/DeleteDiscount?Id=@item.Id" class="text-decoration-none btn btn-primary btn-rounded btn-icon d-inline-flex align-items-center justify-content-center">
                                                    <i class="mdi mdi-delete"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        counter++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-end">
                        <ul class="pagination" style="display:flex;align-items: center;font-size:20px;gap:10px">
                            @if (ViewBag.PageNumber > 1)
                            {
                                <li>

                                    <a href="?page=1">&laquo;</a>
                                </li>
                                <li>
                                    <a href="?page=@(ViewBag.PageNumber - 1)">&lsaquo;</a>

                                </li>
                            }
                            @for (int i = 1; i <= ViewBag.TotalPages; i++)
                            {

                                if (i == ViewBag.PageNumber)
                                {
                                    <li style="background-color: black;color:white">
                                        <span>@i</span>

                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a href="?page=@i">@i</a>

                                    </li>
                                }
                            }
                            @if (ViewBag.PageNumber < ViewBag.TotalPages)
                            {
                                <li>

                                    <a href="?page=@(ViewBag.PageNumber + 1)"> &rsaquo;</a>
                                </li>
                                <li>

                                    <a href="?page=@ViewBag.TotalPages"> &raquo;</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>